body {
	background:linear-gradient(to bottom right, #33ccff 0%, #6600ff 100%);
	height:800px;
}

* {
 font-family:futura;
}


h1, p {
	text-align: center;
}

#main {
	margin: 0 auto;
  	max-width: 445px;
  	height: 100px;
 }


 #error {
 	color: red;
 }

 #success {
 	color: black;
 }

 .align {
 	text-align: center
 }